# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# VSCode settings (optional)
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Node stuff (if used)
node_modules/

# Model files (if large, optional)
models/*.h5
